/* h1{
    margin-top:50px;
} */

.favourite-image{
    width:90%;
    height:70vh;
    background-image: url("https://img.collegedekhocdn.com/media/img/institute/crawled_images/None/DFGSDFGDFGFDHDG.jpg?tr=w-250,h-150");
    background-size:cover;
    background-repeat: no-repeat;
    opacity:1.8;
    position:relative;
   justify-content: center;
    margin-top:50px;
    border-radius:20px;
}
.favourite-overlay{
    width:100%;
    
    height:100%;
   
    position: absolute;
    opacity:1.6;
    border-radius:20px;
}
.favourite-text{
    position:absolute;
    background-color: white;
    width:50%;
    height:50%;
    margin:10% 0 0 10%;
    opacity:0.7;
    border-radius: 20px;
}

.favourite-text h2{
    padding-top: 40px;
    text-align: center;
} 

@media screen and (max-width:540px){
    .favourite-text h2{
        padding-top: 20px;
        text-align: center;
        font-size: 2rem;
    } 
    .favourite-image{
        height:70vh;
        position:relative;
    }
    .favourite-overlay{
        
        width:100%;        
        background-color: rgba(0 0 0/35%);
        position: absolute;
        opacity:0.5;
        border-radius:20px;
    }
    .favourite-text{
        position:absolute;
        background-color: white;
        width:70%;
        height:30%;
        margin:20% 0 0 10%;
        opacity:0.5;
        border-radius: 20px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .favourite-text h2{
        padding-top: 20px;
        text-align: center;
        font-size: 3rem;
        border-radius:20px;
    } 
    .favourite-image{
        height:70vh;
        position:relative;
    }
    .favourite-overlay{
        
        width:100%;
        background-color: rgba(0 0 0/35%);
        position: absolute;
        opacity:0.5;
        border-radius:20px;
    }
    .favourite-text{
        position:absolute;
        background-color: white;
        width:70%;
        height:30%;
        margin:20% 0 0 10%;
        opacity:0.5;
        border-radius: 20px;
    }
}

