@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Parisienne&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
html,
body {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/*Navbar*/
.navbar {
  z-index: 100;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.header {
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 25px;
  color: #123456;
}

/*----------------------------------Landing Section Individual Pages  ------------------------------------------- */
.landing__section__root {
  color: #41415f;
  margin: 1px auto;
  /* padding-right: 20px; */
}
.landing__section__name {
  /* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */

  /* Fallback: Set a background color. */
  /*background-color: red;
  
  /* Create the gradient. */
  background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.landing__section__image {
  object-fit: contain;
  max-width: 600px;
  width: 100%;
  /* border-radius: 50%; */
}

/*---------------------------------------- Awards Section  ------------------------------------------------------  */
.awards__root {
  border: none;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);

  backdrop-filter: blur(6px);
  border-radius: 10px;
  /* box-shadow: 0rem 1rem 1rem #343b40a6; */
  border-top: 2px solid #123456;
  border-bottom: 2px solid #123456;
  padding: 15px;
  font-weight: 400;
}

.awards__image {
  object-fit: contain;
  width: 100%;
  /* max-width: 100px; */
  height: 100px;
  /* border-radius: 20px; */
}
/*------------------------------------------------GAllery Section------------------------------------------------*/
.gallery__image {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  /* max-width: 500px; */
}
/* Icons for gallery*/
.grid {
  object-fit: cover;
  width: 100%;
}

/*----------------------------------------------------Messages section----------------------------------------------*/

.carousel button {
  margin: 0 3px;
  font-family: inherit;
  border-radius: 50%;
  border: none;
  line-height: inherit;
  background: #123456;
  color: #fff;
  padding: 2px;
}
.carousel button:disabled {
  background-color: #bdbfbd;
}

@media screen and (max-width: 600px) {
  .horizontalSlider___281Ls {
    max-height: 600px;
  }
  .slideInner___2mfX9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  .horizontalSlider___281Ls {
    max-height: 500px;
  }
}
@media screen and (min-width: 961px) {
  .horizontalSlider___281Ls {
    max-height: 400px;
  }
}
