html,
body {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  /* object-fit: cover; */
  min-height: 100%;
  z-index: -1;
}
/*Navbar*/
.navbar {
  z-index: 100;
}

/*----------------------------------Landing Section Individual Pages  ------------------------------------------- */
.landing__section__root {
  color: darkblue;
}
.landing__section__name,
hr {
  color: goldenrod;
}
.landing__section__image {
  object-fit: contain;
  max-width: 400px;
  width: 100%;
  border-radius: 50%;
}

/*---------------------------------------- Awards Section  ------------------------------------------------------  */
.awards__root {
  border: none;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur(6px);
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem #343b40a6;
  /* border: 2px solid #123456; */
}
.awards__image {
  object-fit: cover;
  width: 100%;
  max-width: 200px;
}
/*------------------------------------------------GAllery Section------------------------------------------------*/
.gallery__image {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  /* max-width: 500px; */
}
/* Icons for gallery*/
.grid {
  object-fit: cover;
  width: 100%;
}

/*----------------------------------------------------Awards section----------------------------------------------*/

.awards__image {
  object-fit: contain;
  width: 100%;
  max-width: 400px;
}
