@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.headerhome {
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 30px;
  color:#123456;
  margin-top: 18px;
}
.Homepage {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  color: #123456;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
}

.home-cards {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.home-card {
  width: 100%;
  max-width: 500px;
  height: 280px;
  display: flex;
  flex-direction: row;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #0c2c4d;
  border-radius: 20px;
  border: 0px solid #123456;
  padding: 15px;
  box-shadow: 0px 4px 18px rgba(22, 22, 131, 0.5);
  font-family: Abril Fatface;
  position: relative;
  text-decoration: none;
}
.home-card:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

.box {
  display: flex;
  align-items: flex-end;
  width: 60%;
  position: relative;
  z-index: 1;
}

.name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}

.name h1 {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 2px;
  height: 100%;
  width: 100%;
}

.Card-Image {
  height: 320px;
  width: auto;
  margin-bottom: -15px;
  position: absolute;
  z-index: 9;
}
.footer {
  font-weight: bold;
}
.footer hr {
  width: 62vw;
  margin: 5px auto;
}

.patterns-l {
  height: 60vh;
}
.patterns-m {
  height: 60vh;
}
.patterns-s {
  height: 60vh;
}
.line {
  margin: 10px auto;
  height: 3px;
  width: 65%;
  background-color: #123456;
}

.patterns-l svg text,.patterns-m svg text,.patterns-s svg text{
  font-family: Monoton;
  letter-spacing: 10px;
  stroke: #123456;
  font-size: 120px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #123456;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(200, 78%, 75%, 0%);
  }
}
.guest {
 font-size: 42px;
 font-weight: 700;
}

@media screen and (max-width: 536px) {
  .home-cards {
    margin: 0;
    padding: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
  }
  .home-card {
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 190px;
    max-width: 350px;
  }
  .Card-Image {
    /* width: 150px;
    height: auto; */
    height: 220px;
    width: auto;
    margin-bottom: -15px;
    right: -20;
  }
  .guest {
    font-size: 28px;
  }
  .line {
    width: 80%;
  }
  
}

@media only screen and (min-width: 1187px) {
  .patterns-m {
    display: none;
  }
  .patterns-s {
    display: none;
  }
}
@media only screen and (max-width: 1186px) and (min-width: 537px) {
  .patterns-l {
    display: none;
  }
  .patterns-s {
    display: none;
  }
  .patterns-m svg text {
    letter-spacing: 10px;
    stroke: #123456;
    font-size: 75px;
    font-weight: 700;
    stroke-width: 2;
    animation: textAnimate 5s infinite alternate;
  }
  .Card-Image {
    height: 270px;
  }
}

@media only screen and (max-width: 536px) {
  .patterns-l {
    display: none;
  }
  .patterns-m {
    display: none;
  }

  .patterns-s svg text {
    letter-spacing: 10px;
    stroke: #123456;
    font-size: 45px;
    font-weight: 400;
    stroke-width: 1;
    animation: textAnimate 5s infinite alternate;
  }
}
@media screen and (min-width: 768px) {
  .footer hr {
    width: 40vh;
  }
}
